*{
    font-family: 'Helvetica';
    
}

body{
    margin:0;
    padding:0;
}
header, footer{
    background-color: #B3BC6D;
    color:white;
    text-align: center;
    padding:5px;

}
#blok_z_danymi{
    background-color: #FFFFCE;
    color: olive;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
  

}
#lewy, #prawy{
    background-color: #E6EE9C;
    width:25%;
    height:450px;
    text-align: center;
    display:inline-block;

}
#lewy{
    float:left;
}
#prawy{
    float:right;
}
#srodek{
    background-color: #FFFFCE;
    width:50%;
    height:450px;
    display:inline-block;

}
table{
    border: solid;
    border-width: 1px;
    border-color: olive;
    margin:auto;
    width:70%;


}
h2{
    text-align: center;
}
h2::first-letter{
    font-size:150%;
    color:olive;

}
img{
    height:100px;
    padding:7px;

}
img:hover{
    background-color: #B3BC6D;
}

footer{
    clear:both;
}